.header {
    .BUILD(@headerBG; @headerHeight);
    width: 95vw;
    padding-bottom: 5%;
    overflow: auto;
    div {
        padding: 1%;
    }
    h2 {
        font-size: 3vw;
        color: white;
        padding: 1% 2%;
    }
    p {
        width: 70%;
        padding: 1% 5%;
        line-height: 1.5;
        font-size: 1em;
    }
}