.header {
    .BUILD(@headerBG; @headerHeight);
    width: 95vw;
    overflow: auto;
    div {
        width: 100%;
        column-count: 2;
        column-fill: auto;
    }
    h2 {
        font-size: 2em;
        color: white;
        padding: 5% 2%;
    }
    p {
        padding: 2% 5%;
        line-height: 1.5;
    }
}