/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  position: relative;
  scroll-behavior: smooth;
}
body {
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  max-width: 1000px;
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
body .bgImageHolder {
  overflow: hidden;
}
body .bgImageHolder .bgImage {
  background-image: url('/Assets/img/bg2.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  animation-name: pulsate-fwd;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  z-index: 0;
}
body ::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}
body .tabs {
  position: relative;
  width: 100vw;
  height: 88vh;
  overflow: hidden;
  margin-top: 12vh;
}
@media (max-width: 600px) {
  body .tabs {
    height: 80vh;
  }
}
@media (max-width: 600px) {
  body .tabs {
    margin-top: 20vh;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes pulsate-fwd {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes kenburns-top-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 16%;
  }
  100% {
    transform: scale(1.25) translate(-20px, -15px);
    transform-origin: top left;
  }
}
.navi {
  height: 12vh;
  background: #eeeeee;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 600px) {
  .navi {
    height: 20vh;
  }
}
.navi .naviContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .navi .naviContainer {
    flex-direction: column;
  }
}
.navi .naviContainer div {
  height: 12vh;
  justify-content: flex-start;
  padding-left: 2.5%;
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 600px) {
  .navi .naviContainer div {
    justify-content: center;
  }
}
.navi .naviContainer a {
  text-decoration: none;
  cursor: initial;
}
.navi .naviContainer h1 {
  font-size: 3vw;
  color: #2e3131;
}
@media (max-width: 600px) {
  .navi .naviContainer h1 {
    font-size: 8vw;
  }
}
.navi .naviContainer .buttons {
  display: flex;
  justify-content: center;
  height: 5vh;
  padding: 0 5%;
  width: 50%;
}
.navi .naviContainer .buttons div {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 600px) {
  .navi .naviContainer .buttons div {
    padding: 2% 0;
  }
}
.navi .naviContainer .menu {
  width: 150px;
  height: 5vh;
  margin: 0 2%;
}
.sideNavi {
  background: #6c7a89;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
  width: 5vw;
  padding-top: 12vh;
  padding-bottom: 5vh;
  position: fixed;
  right: 0;
  top: 0;
}
@media (max-width: 800px) {
  .sideNavi {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  .sideNavi {
    height: 12vh;
  }
}
@media (max-width: 800px) {
  .sideNavi {
    width: 100vw;
  }
}
@media (max-width: 800px) {
  .sideNavi {
    padding: 0;
  }
}
@media (max-width: 800px) {
  .sideNavi {
    right: initial;
  }
}
@media (max-width: 800px) {
  .sideNavi {
    top: initial;
  }
}
@media (max-width: 800px) {
  .sideNavi {
    bottom: 0;
  }
}
.sideNavi h2 {
  color: #f2f1ef;
  writing-mode: vertical-rl;
}
@media (max-width: 800px) {
  .sideNavi h2 {
    writing-mode: initial;
  }
}
@media (max-width: 600px) {
  .sideNavi h2 {
    font-size: 3.5vw;
  }
}
.sideNavi .hamburger {
  writing-mode: horizontal-tb;
}
.sideNavi .hamburger .logo {
  width: 6vh;
  height: auto;
}
.landing {
  width: 95vw;
  height: 89vh;
  position: absolute;
  z-index: 2;
}
.boxes {
  width: 65vw;
  height: 75vh;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.boxLarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 60vh;
  background: #2e3131;
  text-align: center;
  opacity: 0.9;
}
.boxLarge h2 {
  font-size: 3em;
  color: #f15a22;
  padding-bottom: 2.5%;
}
.boxLarge h3 {
  font-size: 2vw;
  color: white;
  padding: 0 5%;
}
.boxRow {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
@media (max-width: 800px) {
  .boxRow {
    display: none;
  }
}
.boxMedium {
  width: 25vw;
  height: 15vh;
  display: flex;
  background: #bfbfbf;
}
.boxMedium2 {
  width: 25vw;
  height: 15vh;
  background: #f15a22;
}
.boxSmall {
  width: 7.5vw;
  height: 15vh;
  background: #f2f1ef;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: auto;
  padding-bottom: 20vh;
  height: 80vh;
}
.carousel .left-button,
.carousel .right-button {
  position: absolute;
  color: white;
  cursor: pointer;
}
.carousel .left-button img,
.carousel .right-button img {
  width: 5vw;
  height: auto;
}
@media (max-width: 600px) {
  .carousel .left-button img,
  .carousel .right-button img {
    width: 12vw;
  }
}
.carousel .left-button {
  top: 50%;
  left: 10vw;
}
.carousel .right-button {
  top: 50%;
  right: 10vw;
}
.carousel .carousel-content {
  position: absolute;
  width: 100%;
  text-align: center;
}
.tabs {
  width: 100%;
}
.tabs .tabs-item div {
  opacity: 0;
}
.tabs .tabs-item-selected div {
  opacity: 1;
  z-index: 2;
  animation-name: slide-in-elliptic-top-fwd;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.tabs .tabs-links {
  display: flex;
  background-color: white;
}
.tabs .tabs-link {
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: white;
}
.tabs .tabs-link-selected {
  z-index: 2;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
  opacity: 0.5;
}
.header {
  width: 100%;
  height: 70vh;
  background: #abb7b7;
  width: 65vw;
  overflow: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .header {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .header {
    height: 65vh;
  }
}
@media (max-width: 800px) {
  .header {
    width: 80vw;
  }
}
.header div {
  padding: 1%;
}
.header h2 {
  font-size: 3em;
  color: white;
  padding: 1% 2%;
}
.header p {
  width: 70%;
  padding: 1% 5%;
  line-height: 1.5;
  font-size: 1em;
}
@media (max-width: 600px) {
  .header p {
    padding-bottom: 25%;
  }
}
.content {
  width: 100%;
  height: 70vh;
  background: #95a5a6;
  width: 65vw;
  display: flex;
  position: absolute;
}
@media (max-width: 800px) {
  .content {
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .content {
    height: 65vh;
  }
}
.content .container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .content .container {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .content .container {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .content .container {
    padding: 10% 0;
  }
}
.content h2 {
  font-size: 3em;
  color: white;
  padding: 1% 2%;
}
.content ul {
  padding: 1% 5%;
}
.content li {
  padding-left: 7.5%;
  list-style: none;
  line-height: 1.25;
}
@media (max-width: 600px) {
  .content li {
    padding-left: 10%;
  }
}
.content .split1 {
  width: 100%;
}
.content .split2 {
  width: 40vw;
  height: 70vh;
  background: #d35400;
  opacity: 0.8;
}
@media (max-width: 600px) {
  .content .split2 {
    display: none;
  }
}
.cta {
  height: 70vh;
  width: 65vw;
  display: flex;
  position: absolute;
  overflow: auto;
}
@media (max-width: 600px) {
  .cta {
    height: 65vh;
  }
}
@media (max-width: 600px) {
  .cta {
    width: 80vw;
  }
}
@media (max-width: 800px) {
  .cta {
    flex-direction: column;
  }
}
.cta h2,
.cta h3,
.cta h4 {
  text-align: center;
  font-size: 3.5em;
  color: white;
  padding: 2% 2%;
}
.cta h2 h3,
.cta h3 h3,
.cta h4 h3 {
  font-size: 1.8em;
}
.cta .container {
  display: flex;
  position: absolute;
  background: #bdc3c7;
  width: 65vw;
  height: 75vh;
  flex-direction: column;
  overflow: auto;
}
@media (max-width: 600px) {
  .cta .container {
    width: 80vw;
  }
}
@media (max-width: 800px) {
  .cta .container div {
    padding: 10%;
  }
}
.cta .container h3 {
  font-size: 1.5em;
  text-align: center;
}
.cta .container p {
  padding: 5%;
}
.cta .container .button {
  display: flex;
  justify-content: center;
}
.cta2 {
  height: 70vh;
  width: 65vw;
  display: flex;
  position: absolute;
  overflow: auto;
}
@media (max-width: 600px) {
  .cta2 {
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .cta2 {
    height: 65vh;
  }
}
.cta2 h2,
.cta2 h3,
.cta2 h4 {
  text-align: center;
  font-size: 3.5em;
  color: white;
  padding: 2% 2%;
}
.cta2 h2 h3,
.cta2 h3 h3,
.cta2 h4 h3 {
  font-size: 1.8em;
}
.cta2 .container2 {
  background: #e8e8e8;
  display: flex;
  position: absolute;
  flex-direction: column;
  overflow: auto;
}
@media (max-width: 800px) {
  .cta2 .container2 div {
    padding: 10%;
  }
}
.cta2 .container2 h3 {
  font-size: 1.5em;
  text-align: center;
}
.cta2 .container2 p {
  padding: 5%;
}
.cta2 .container2 .button {
  display: flex;
  justify-content: center;
}
.aboutUs {
  width: 100%;
  height: 88vh;
  background: #d2d7d3;
  width: 95vw;
  background: none;
  display: flex;
  position: absolute;
  overflow: auto;
  justify-content: center;
  text-align: center;
}
@media (max-width: 800px) {
  .aboutUs {
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .aboutUs {
    height: 80vh;
  }
}
.aboutUs .contents h2 {
  padding: 1%;
  color: white;
  font-size: 3em;
}
.aboutUs img {
  height: auto;
  width: 50vh;
  border-radius: 50%;
}
.aboutUs h2 {
  color: white;
  font-size: 2.5em;
}
.aboutUs h3 {
  color: white;
  font-size: 2em;
}
.aboutUs p {
  color: white;
  padding: 1%;
}
.footer {
  width: 100%;
  height: 10vh;
  background: #2e3131;
  width: 100vw;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .footer {
    display: none;
  }
}
