/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  position: relative;
  scroll-behavior: smooth;
}
body {
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
body ::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}
body .container {
  position: relative;
  width: 100vw;
  height: 88vh;
  overflow: hidden;
  margin-top: 12vh;
}
@media (max-width: 600px) {
  body .container {
    height: 80vh;
  }
}
@media (max-width: 600px) {
  body .container {
    margin-top: 20vh;
  }
}
.navi {
  height: 12vh;
  background: #eeeeee;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 600px) {
  .navi {
    height: 20vh;
  }
}
.navi .naviContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .navi .naviContainer {
    flex-direction: column;
  }
}
.navi .naviContainer div {
  height: 12vh;
  justify-content: flex-start;
  padding-left: 2.5%;
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 600px) {
  .navi .naviContainer div {
    justify-content: center;
  }
}
.navi .naviContainer a {
  text-decoration: none;
}
.navi .naviContainer h1 {
  font-size: 3vw;
  color: #2e3131;
}
@media (max-width: 600px) {
  .navi .naviContainer h1 {
    font-size: 8vw;
  }
}
.navi .naviContainer .buttons {
  display: flex;
  justify-content: center;
  height: 5vh;
  padding: 0 5%;
  width: 50%;
}
.navi .naviContainer .buttons div {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 600px) {
  .navi .naviContainer .buttons div {
    padding: 2% 0;
  }
}
.navi .naviContainer .menu {
  width: 150px;
  height: 5vh;
  margin: 0 2%;
}
.sideNavi {
  background: #6c7a89;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
  width: 5vw;
  padding-top: 12vh;
  padding-bottom: 5vh;
  position: fixed;
  right: 0;
  top: 0;
}
@media (max-width: 800px) {
  .sideNavi {
    width: 10vw;
  }
}
@media (max-width: 600px) {
  .sideNavi {
    padding-top: 20vh;
  }
}
.sideNavi a {
  text-decoration: none;
}
.sideNavi h2 {
  color: #f2f1ef;
  writing-mode: vertical-rl;
}
.sideNavi .hamburger {
  writing-mode: horizontal-tb;
}
.landing {
  width: 95vw;
  height: 89vh;
  background-image: url('/Assets/img/bg2.jpg');
  background-size: cover;
  position: absolute;
  z-index: 2;
}
.boxes {
  width: 65vw;
  height: 75vh;
  position: absolute;
  bottom: 0;
}
.boxLarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 60vh;
  background: #2e3131;
  text-align: center;
  opacity: 0.9;
}
.boxLarge h2 {
  font-size: 4vw;
  color: #f15a22;
  padding-bottom: 2.5%;
}
.boxLarge h3 {
  font-size: 2vw;
  color: white;
  padding: 0 5%;
}
.boxRow {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.boxMedium {
  width: 25vw;
  height: 15vh;
  display: flex;
  background: #bfbfbf;
}
.boxMedium2 {
  width: 25vw;
  height: 15vh;
  background: #f15a22;
}
.boxSmall {
  width: 7.5vw;
  height: 15vh;
  background: #f2f1ef;
}
.header {
  width: 100%;
  height: 89vh;
  background: #abb7b7;
  width: 95vw;
  overflow: auto;
  position: absolute;
}
.header div {
  padding: 1%;
}
.header h2 {
  font-size: 3vw;
  color: white;
  padding: 1% 2%;
}
.header p {
  width: 70%;
  padding: 1% 5%;
  line-height: 1.5;
  font-size: 1em;
}
.content {
  width: 100%;
  height: 89vh;
  background: #95a5a6;
  width: 95vw;
  display: flex;
  position: absolute;
}
.content .container {
  width: 60%;
  overflow: auto;
  padding-bottom: 5%;
}
@media (max-width: 600px) {
  .content .container {
    width: 70%;
  }
}
.content h2 {
  font-size: 5vw;
  color: white;
  padding: 2%;
}
.content ul {
  padding: 1% 5%;
}
.content li {
  padding-left: 7.5%;
  list-style: none;
  line-height: 1.25;
}
@media (max-width: 600px) {
  .content li {
    padding-left: 10%;
  }
}
.content .split1 {
  width: 100%;
}
@media (max-width: 600px) {
  .content .split1 {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .content .split1 {
    padding: 5%;
  }
}
.content .split2 {
  width: 40vw;
  height: 89vh;
  background: #d35400;
}
@media (max-width: 600px) {
  .content .split2 {
    width: 30%;
  }
}
.cta {
  width: 100%;
  height: 89vh;
  background: #bdc3c7;
  width: 95vw;
  display: flex;
  position: absolute;
}
@media (max-width: 600px) {
  .cta {
    height: auto;
  }
}
@media (max-width: 600px) {
  .cta {
    flex-direction: column;
  }
}
.cta h2,
.cta h3,
.cta h4 {
  text-align: center;
  font-size: 3.5vw;
  color: white;
  padding: 2% 2%;
}
.cta h2 h3,
.cta h3 h3,
.cta h4 h3 {
  font-size: a1 0.8em;
}
.cta .container {
  width: 50%;
  overflow: auto;
  padding-bottom: 5%;
}
@media (max-width: 600px) {
  .cta .container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .cta .container {
    height: 88vh;
  }
}
.cta .container h3 {
  font-size: 1.5em;
  text-align: center;
}
.cta .container p {
  padding: 5%;
}
.cta .container .button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cta .container2 {
  width: 50%;
  overflow: auto;
  background: #e8e8e8;
}
@media (max-width: 600px) {
  .cta .container2 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .cta .container2 {
    height: 88vh;
  }
}
.cta .container2 h3 {
  font-size: 1.5em;
  text-align: center;
}
.cta .container2 h4 {
  padding: 0 2%;
  font-size: 1.3em;
  text-align: left;
}
.cta .container2 p {
  padding: 2% 5%;
}
.cta .container2 .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.aboutUs {
  width: 100%;
  height: 89vh;
  background: #d2d7d3;
  width: 95vw;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
}
@media (max-width: 600px) {
  .aboutUs {
    height: auto;
  }
}
@media (max-width: 600px) {
  .aboutUs {
    flex-direction: column;
  }
}
.aboutUs .container {
  width: 60vw;
  overflow: auto;
  padding-bottom: 5%;
}
@media (max-width: 600px) {
  .aboutUs .container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .aboutUs .container {
    height: 88vh;
  }
}
.aboutUs h2 {
  font-size: 5vw;
  color: white;
  padding: 2%;
}
.aboutUs ul {
  padding: 1% 5%;
}
.aboutUs li {
  padding-left: 7.5%;
  list-style: none;
  line-height: 1.25;
}
.aboutUs .split1 {
  width: 100%;
}
@media (max-width: 600px) {
  .aboutUs .split1 {
    height: 88vh;
  }
}
@media (max-width: 600px) {
  .aboutUs .split1 {
    width: 80%;
  }
}
.aboutUs .split2 {
  width: 40vw;
  height: auto;
  background: #e87e04;
}
@media (max-width: 600px) {
  .aboutUs .split2 {
    height: 88vh;
  }
}
@media (max-width: 600px) {
  .aboutUs .split2 {
    width: 100%;
  }
}
.footer {
  width: 100%;
  height: 10vh;
  background: #2e3131;
  width: 100vw;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
