.cta {
    .BUILD(@ctaBG; @ctaHeight);
    width: 95vw;
    @media @mobile{width:90vw;}
    @media @tablet{height: 88vh;}
    @media @mobile{height: 80vh;}
    display: flex;
    @media @tablet{flex-direction: column;}
    position: absolute;
    overflow: auto;
    h2, h3, h4 {
        text-align: center;
        font-size: 3.5em;
        color: white;
        padding: 2% 2%;
        h3{
            font-size: 1.8em;
        }
    }
    .container {
        justify-content: center;
        @media @tablet{justify-content: flex-start;}
        display: flex;
        flex-direction: column;
        width: 50%;
        @media @tablet{width: 100%;}
        @media @tablet{height: 44vh;}
        @media @mobile{height: 40vh;}
        @media @tablet{padding-top:3%;}
        @media @tablet{padding-bottom: 5%;}
        overflow: auto;
        div{
            @media @tablet{padding: 10%;}
        }
        h3{
            font-size: 1.5em;
            text-align: center;
        }
        p{
            padding: 5%;
        }
        .button {
            display: flex;
            justify-content: center;
        }
    }
    .container2 {
        width: 50%;
        justify-content: center;
        @media @tablet{justify-content: flex-start;}
        display: flex;
        flex-direction: column;
        @media @tablet{width: 100%;}
        @media @tablet{height: 44vh;}
        @media @mobile{height: 40vh;}
        overflow: auto;
        @media @tablet{padding-top:3%;}
        @media @tablet{padding-bottom: 5%;}
        background: @mercury;
        div{
            @media @tablet{padding: 10%;}
        }
        h3{
            font-size: 1.5em;
            text-align: center;
        }
        h4 {
            padding: 0 2%;
            font-size: 1.3em;
            text-align: left
        }
        p{
            padding: 5%;
        }
        .button {
            display: flex;
            justify-content: center;
        }
    }
}