
html {
    position: relative;
    scroll-behavior: smooth;
}
body {
    overflow: scroll;
    overflow-x: hidden;
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
    position: absolute;
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    .container {
        position: relative;
        width: 100vw;
        height: 88vh;
        @media @mobile{ height: 80vh;}
        overflow: hidden;
        margin-top: 12vh;
        @media @mobile{margin-top: 20vh;}
    }
}