body {
    width: 1000px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: @bgColor;
    .container {
        margin-top: @navHeight;
        padding: 5%;
        height: auto;
        .test();
        
        .split {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
        
    }
}