//Variables
// BG-Background
// FC-Font Color
// BC-Border Color


.BUILD(@buildBG: @testBG; @buildHeight: @testHeight;){
    width: 100%;
    height: @buildHeight;
    background: @buildBG;
}








