//Color Pointers
// BG-Background
// FC-Font Color
// BC-Border Color

@navBG: @gallery;
@navFC: @outerSpace;
@navBC: @testBC;
@sideNaviBG: @lynch;
@sideNaviFC: @carrara;

@landingLargeBox: @outerSpace;
@landingMedBox1: @silver;
@landingMedBox2: @vivid;
@landingSmallBox: @carrara;

@headerBG: @edward;
@headerFC: @;
@headerBC: @testBC;

@contentBG: @cascade;
@contentFC: @;
@contentBC: @testBC;
@contentSplitBG: @burntOrange;

@ctaBG: @silverSand;
@ctaFC: @;
@ctaBC: @testBC;
@ctaSplitBG:  @mercury;


@footerBG: @outerSpace;
@footerFC: @;
@ctaBC: @testBC;


// Colors
@testBC: none;
@testBG: black;
//Greys
@gallery: rgba(238, 238, 238, 1);
@mercury: rgba(232, 232, 232, 1);
@silverSand: rgba(189, 195, 199, 1);
@edward: rgba(171, 183, 183, 1);
@silver: rgba(191, 191, 191, 1);
@lynch: rgba(108, 122, 137, 1);
@hoki: rgba(103, 128, 159, 1);
@cascade: rgba(149, 165, 166, 1);
@outerSpace: rgba(46, 49, 49, 1);
@carrara: rgba(242, 241, 239, 1);
//Orange
@vivid: rgba(241, 90, 34, 1);
@burntOrange: rgba(211, 84, 0, 1);


// Heights
@testHeight: 100px;
@navHeight: 12vh;
@headerHeight: 87.5vh;
@contentHeight: 87.5vh;
@ctaHeight: 87.5vh;
@footerHeight: @navHeight;



// Mobile Views
@tablet:~'(max-width: 500px;)';
@mobile: ~'(max-width: 800px;)';