//*********************Color Pointers*********************
// BG-Background
// FC-Font Color
// Any time split is used indicates contrasting color on BG of my design
// Nav is the navigation
// Landing is the main Splash Page
// Header is the first page after Splash
// Content is the Product info. 
// CTA is the Sign Up/ Log In info

@navBG: @gallery;
@navFC: @outerSpace;
@sideNaviBG: @lynch;
@sideNaviFC: @carrara;

@landingLargeBox: @outerSpace;
@landingMedBox1: @silver;
@landingMedBox2: @vivid;
@landingSmallBox: @carrara;

@headerBG: @edward;
@headerFC: @;

@contentBG: @cascade;
@contentFC: @;
@contentSplitBG: @burntOrange;

@ctaBG: @silverSand;
@ctaFC: @;
@cta2BG:  @mercury;

@aboutUsBG: @pumice;
@aboutUsFC: @;
@aboutUsSplitBG: @tahitiGold;



@footerBG: @outerSpace;
@footerFC: @;


// *************Colors*************
//Greys
@gallery: rgba(238, 238, 238, 1);
@mercury: rgba(232, 232, 232, 1);
@silverSand: rgba(189, 195, 199, 1);
@edward: rgba(171, 183, 183, 1);
@silver: rgba(191, 191, 191, 1);
@lynch: rgba(108, 122, 137, 1);
@hoki: rgba(103, 128, 159, 1);
@cascade: rgba(149, 165, 166, 1);
@outerSpace: rgba(46, 49, 49, 1);
@carrara: rgba(242, 241, 239, 1);
@pumice: rgba(210, 215, 211, 1);
//Oranges
@vivid: rgba(241, 90, 34, 1);
@burntOrange: rgba(211, 84, 0, 1);
@supernova: rgba(255, 203, 5, 1);
@tahitiGold: rgba(232, 126, 4, 1);

// Heights
@testHeight: 100px;
@navHeight: 12vh;
@headerHeight: 70vh;
@contentHeight: 70vh;
@ctaHeight: 70vh;
@cta2Height: 70vh;
@aboutUsHeight: 70vh;
@footerHeight: 10vh;



// Views
@tablet:~'(max-width: 800px)';
@mobile: ~'(max-width: 600px)';