.navi {
    .BUILD(@navBG; @navHeight);
    @media @mobile{height: 20vh;}
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .naviContainer {
        display: flex;
        @media @mobile{flex-direction: column;}
        justify-content: space-between;
        align-items: center;
        div {
            height: 12vh;
            justify-content: flex-start;
            @media @mobile{justify-content: center;}
            padding-left: 2.5%;
            display: flex;
            align-items: center;
            width: 100%;
        }
        a {
            text-decoration: none;
            cursor: initial;
        }
        h1{
           font-size: 3vw;
           @media @mobile{font-size: 8vw;}
           color: @navFC;
        }
        .buttons {
            display: flex;
            justify-content: center;
            div{
                display: flex;
                @media @mobile{padding: 2% 0;}
                justify-content: center;
                width: 100%;
            }
            height: 5vh;
            padding: 0 5%;
            width: 50%;
        }
        .menu {
            width: 150px;
            @media @mobile{width: 20vw;}
            height: 5vh;
            margin: 0 2%;
        }
    }
}

.sideNavi {
    background: @sideNaviBG;
    z-index: 4;
    display: flex;
    flex-direction: column;
    @media @tablet{flex-direction: row;}

    align-items: center;
    justify-content: space-around;
    height: 85vh;
    @media @tablet{height:12vh;}
    width: 5vw;
    @media @tablet{width: 100vw;}
    @media @mobile{width: 98vw;}
    padding-top: @navHeight;
    padding-bottom: 5vh;
    @media @tablet{padding: 0;}
    position: fixed;
    right: 0;
    @media @tablet{right: initial;}
    top: 0;
    @media @tablet{top: initial;}
    @media @tablet{bottom: 0;}
    h2 {
        color: @sideNaviFC;
        writing-mode: vertical-rl;
        @media @tablet{writing-mode: initial;}
        @media @mobile{font-size: 3vw;}

    }
    .hamburger {
        writing-mode: horizontal-tb;
        .logo {
            width: 6vh;
            height: auto;
        }
       
    }
}