.aboutUs{
    .BUILD(@aboutUsBG; @aboutUsHeight);
    width: 65vw;
    @media @mobile{height: 65vh;}
    display: flex;
    flex-direction: row-reverse;
    @media @mobile{flex-direction: column}
    position: absolute;
    .container{
        width: 60vw;
        overflow: auto;
        @media @mobile{width: 100%;}
        @media @mobile{height: 88vh;}
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    h2 {
        font-size: 3em;
        color: white;
        padding: 1% 2%;
    }
    ul {
        padding: 1% 5%;
        @media @mobile{padding-bottom: 25%;}
    }
    li {
        padding-left:7.5%;
        list-style: none;
        line-height: 1.25;
    }
    .split1{
        width: 100%;
        @media @tablet{width: 70%;}
        @media @mobile{padding-bottom: 33%;}
        @media @mobile{overflow: auto;}
        
    }
    .split2{
        width: 40vw;
        height: auto;
        @media @mobile{width: 100%;}
        background: @aboutUsSplitBG;
    }
}