.aboutUs{
    .BUILD(@aboutUsBG; @aboutUsHeight);
    width: 95vw;
    @media @tablet{width: 100vw;}
    background: none;
    @media @mobile{height: 80vh;}
    display: flex;
    position: absolute;
    overflow: auto;
    // .container{
    //     width: 60vw;
    //     overflow: auto;
    //     @media @mobile{width: 100%;}
    //     @media @mobile{height: 88vh;}
    //     display: flex;
    //     flex-direction: column;
    //     padding: 1%;
    // }
    // h2 {
    //     font-size: 3em;
    //     color: white;
    //     padding: 1% 2%;
    // }
    // .split2{
    //     width: 40vw;
    //     height: auto;
    //     @media @mobile{width: 100%;}
    //     background: @aboutUsSplitBG;
    // }
    justify-content: center;
    text-align: center;
    .contents {
        h2 {
            padding: 1%;
            color: white;
            font-size: 3em;
        }
    }
    img {
        height: auto;
        width: 50vh;
        border-radius: 50%;
    }
    h2 {
        color: white;
        font-size: 2.5em;
    }
    h3{
        color: white;
        font-size: 2em;
    }
    p {
        color: white;
        padding: 1%;
    }

}